/*-----------------------------------*\
 * #MAIN_FOOTER
\*-----------------------------------*/

.footer-top {
  background: url("/assets/images/footer-bg.jpg") no-repeat;
  background-size: cover;
  background-position: center;
  padding-block: 80px 50px;
}

.footer-logo-area {
  text-align: center;
  margin-bottom: 40px;
}

.footer-logo-area .site-logo {
  width: max-content;
  margin-inline: auto;
  margin-bottom: 30px;
}

.footer-links,
.quick-links,
.footer-social {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.footer-link {
  color: var(--light-color-1);
  font-size: var(--size-9);
  font-weight: var(--weight-700);
  text-transform: uppercase;
  padding: 5px 15px;
  transition: var(--speed-1);
}

.footer-link:hover,
.footer-link:focus,
.quick-link:hover,
.quick-link:focus,
.social-btn:hover,
.social-btn:focus {
  color: var(--accent-color);
}

.footer-divider {
  height: 4px;
  margin-block: 40px;
  border-top: 1px solid var(--dark-color-1);
  border-bottom: 1px solid hsla(0, 0%, 100%, 0.1);
}

.quick-links {
  margin-bottom: 20px;
}

.quick-link {
  color: var(--gray-color);
  font-size: var(--size-10);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  padding: 2px 10px;
  transition: var(--speed-1);
}

.footer-social {
  column-gap: 10px;
}

.social-btn {
  background: var(--dark-color-1);
  color: var(--gray-color);
  font-size: 14px;
  width: 35px;
  height: 35px;
  display: grid;
  place-items: center;
  border-radius: 50%;
  box-shadow: inset 0 4px 8px hsla(0, 0%, 0%, 0.25);
  transition: var(--speed-1);
}

.footer-bottom {
  padding-block: 25px;
}

.copyright-text {
  color: var(--gray-color);
  font-size: var(--size-10);
  font-weight: var(--weight-500);
  line-height: 1.7;
  text-align: center;
  margin-bottom: 15px;
}

.copyright-text > a {
  display: inline-block;
  color: var(--accent-color);
}

.footer-img {
  max-width: max-content;
  width: 100%;
  margin-inline: auto;
}





/*-----------------------------------*\
 * #MEDIA_QUERIES FOR FOOTER
\*-----------------------------------*/

/**
 * 768px and above
 */

@media (min-width: 768px) {

  .footer-logo-area {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: left;
    margin-bottom: 0;
  }

  .footer-logo-area .site-logo {
    margin: 0;
  }

  .footer-links {
    justify-content: flex-end;
  }

  .footer-quick-area,
  .footer-bottom .page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quick-links {
    margin-bottom: 0;
  }

  .copyright-text {
    margin-bottom: 0;
  }

  .footer-img {
    margin-inline: 0;
  }

}