<footer class="main-footer">

  <div class="footer-top">
    <div class="page-container">

      <div class="footer-logo-area">

        <a href="./index.html" class="site-logo">
          <img src="assets/images/logo.svg" alt="PowerFilm logo">
        </a>

        <ul class="footer-links">

          <li>
            <a href="./index.html" class="footer-link">Home</a>
          </li>

          <li>
            <a href="#" class="footer-link">Movie</a>
          </li>

          <li>
            <a href="#" class="footer-link">TV Show</a>
          </li>

          <li>
            <a href="#" class="footer-link">Web Series</a>
          </li>

          <li>
            <a href="#" class="footer-link">Pricing</a>
          </li>

        </ul>

      </div>

      <div class="footer-divider"></div>

      <div class="footer-quick-area">

        <ul class="quick-links">

          <li>
            <a href="#" class="quick-link">Faq</a>
          </li>

          <li>
            <a href="#" class="quick-link">Help center</a>
          </li>

          <li>
            <a href="#" class="quick-link">Terms of use</a>
          </li>

          <li>
            <a href="#" class="quick-link">Privacy</a>
          </li>

        </ul>

        <ul class="footer-social">

          <li>
            <a href="#" class="social-btn">
              <ion-icon name="logo-facebook"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-btn">
              <ion-icon name="logo-twitter"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-btn">
              <ion-icon name="logo-pinterest"></ion-icon>
            </a>
          </li>

          <li>
            <a href="#" class="social-btn">
              <ion-icon name="logo-linkedin"></ion-icon>
            </a>
          </li>

        </ul>

      </div>

    </div>
  </div>

  <div class="footer-bottom">
    <div class="page-container">

      <p class="copyright-text">
        &copy; 2026 <a href="#">Powerbit</a>. All Rights Reserved
      </p>

      <img src="assets/images/footer-bottom-img.png" alt="Online banking companies logo" class="footer-img">

    </div>
  </div>

</footer>