/*-----------------------------------*\
 * PowerFilm CSS Styles - Global
\*-----------------------------------*/

/**
 * PowerFilm streaming platform styles
 */





/*-----------------------------------*\
 * #CUSTOM_VARS
\*-----------------------------------*/

:root {

  /* Color Variables */
  --dark-color-1: hsl(225, 25%, 9%);
  --dark-color-2: hsl(170, 21%, 5%);
  --dark-color-3: hsl(228, 13%, 15%);
  --dark-color-4: hsl(207, 19%, 11%);
  --light-color-1: hsl(0, 3%, 80%);
  --metal-color-1: hsl(229, 15%, 21%);
  --metal-color-2: hsl(216, 22%, 18%);
  --light-color-2: hsl(0, 7%, 88%);
  /* --accent-color: hsl(57, 97%, 45%); */
  --accent-color: hsl(202, 94%, 49%);
  --purple-color: hsl(253, 21%, 13%);
  --gray-color: hsl(0, 0%, 74%);
  --white-color: hsl(0, 100%, 100%);
  --black-color: hsl(0, 0%, 0%);
  --dark-gray: hsl(0, 0%, 20%);

  /* Typography */
  --main-font: 'Poppins', sans-serif;

  /* Font Sizes */
  --size-1: 36px;
  --size-2: 32px;
  --size-3: 30px;
  --size-4: 24px;
  --size-5: 20px;
  --size-6: 18px;
  --size-7: 16px;
  --size-8: 15px;
  --size-9: 14px;
  --size-10: 13px;
  --size-11: 12px;
  --size-12: 11px;

  /* Font Weights */
  --weight-500: 500;
  --weight-700: 700;

  /* Transitions */
  --speed-1: 0.15s ease;
  --speed-2: 0.25s ease-in;

  /* Spacing */
  --section-space: 100px;

}





/*-----------------------------------*\
 * #RESET_STYLES
\*-----------------------------------*/

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a, img, span, input, button, ion-icon {
  display: block;
}

input {
  font: inherit;
  width: 100%;
  border: none;
}

select, button {
  font: inherit;
  background: none;
  border: none;
  cursor: pointer;
}

html {
  font-family: var(--main-font);
  scroll-behavior: smooth;
}

body {
  background: var(--dark-color-4);
  color: var(--light-color-2);
}

body.active-scroll {
  overflow: hidden;
}





/*-----------------------------------*\
 * #REUSABLE_STYLES
\*-----------------------------------*/

.page-container {
  padding-inline: 15px;
}

.main-heading,
.section-heading,
.item-heading {
  color: var(--white-color);
  line-height: 1.2;
}

.main-heading { font-size: var(--size-1); }
.section-heading { font-size: var(--size-2); }
.item-heading { font-size: var(--size-6); }

.section-desc {
  color: var(--accent-color);
  font-size: var(--size-12);
  font-weight: var(--weight-500);
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
  text-align: center;
}

.section-heading {
  text-align: center;
}

.tag {
  color: var(--white-color);
  font-size: var(--size-11);
  font-weight: var(--weight-700);
  border: 2px solid transparent;
  padding: 2px 10px;
}

.tag-filled {
  background: var(--white-color);
  color: var(--dark-color-3);
}

.tag-border {
  border-color: var(--white-color);
}

.info-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: center;
  gap: 15px 25px;
  margin-bottom: 50px;
}

.tag-box,
.genre-box,
.time-box {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  gap: 5px 10px;
}

.genre-box > a {
  color: var(--light-color-2);
  font-size: var(--size-9);
  font-weight: var(--weight-500);
  transition: var(--speed-1);
}

.genre-box > a:hover,
.genre-box > a:focus {
  color: var(--accent-color);
}

.time-box {
  gap: 15px;
}

.time-box > div {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--light-color-2);
  font-size: var(--size-9);
  font-weight: var(--weight-500);
}

.time-box ion-icon {
  --ionicon-stroke-width: 50px;
  color: var(--accent-color);
}

.btn {
  color: var(--white-color);
  font-size: var(--size-11);
  font-weight: var(--weight-700);
  text-transform: uppercase;
  letter-spacing: 2px;
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 16px 30px;
  border: 2px solid var(--accent-color);
  border-radius: 50px;
  transition: var(--speed-1);
}

.btn > ion-icon {
  font-size: 18px;
}

.main-btn {
  background: var(--dark-color-1);
}

.main-btn:hover,
.main-btn:focus {
  background: var(--accent-color);
  color: var(--purple-color);
}

.film-card {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.film-card .card-img {
  position: relative;
  background: var(--metal-color-1);
  aspect-ratio: 2 / 3;
  border-radius: 6px;
  overflow: hidden;
  margin-bottom: 20px;
  transition: var(--speed-1);
}

.film-card .card-img::after {
  content: "";
  position: absolute;
  inset: 0;
  transition: var(--speed-1);
}

.film-card .card-img:hover {
  box-shadow: 0 1px 2px hsla(0, 0%, 0%, 0.5);
}

.film-card .card-img:hover::after {
  background: hsla(0, 0%, 100%, 0.05);
}

.film-card .card-img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.film-card .card-title-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
}

.film-card .film-title {
  color: var(--white-color);
  font-size: var(--size-7);
  transition: var(--speed-1);
}

.film-card .film-title:hover,
.film-card .film-title:focus {
  color: var(--accent-color);
}

.film-card .card-title-box time {
  color: var(--accent-color);
  font-size: var(--size-9);
  font-weight: var(--weight-500);
}

.film-card .card-meta {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 15px;
}

.film-card .tag {
  color: var(--accent-color);
}

.film-card .film-time {
  margin-left: auto;
}

.film-card .film-time,
.film-card .film-rating {
  display: flex;
  align-items: center;
  gap: 5px;
  color: var(--light-color-2);
  font-size: var(--size-11);
  font-weight: var(--weight-500);
}

.film-card .film-time ion-icon,
.film-card .film-rating ion-icon {
  font-size: 13px;
  --ionicon-stroke-width: 50px;
  color: var(--accent-color);
}





/*-----------------------------------*\
 * #MEDIA_QUERIES
\*-----------------------------------*/

/**
 * 550px and above
 */

@media (min-width: 550px) {

  .page-container {
    max-width: 540px;
    margin-inline: auto;
  }

  .main-heading {
    font-size: 42px;
  }

  .promo-section {
    min-height: unset;
  }

  .promo-content {
    margin-top: 20px;
  }

  .features-list > li:first-child {
    padding-bottom: 30px;
  }

  .feature-item {
    display: flex;
    align-items: center;
    gap: 20px;
  }

  .feature-item .item-icon {
    margin-bottom: 0;
  }

  .feature-item .item-content {
    width: calc(100% - 115px);
  }

  .details-sub {
    font-size: 22px;
  }

  .details-title {
    font-size: 46px;
  }

}





/**
 * 768px and above
 */

@media (min-width: 768px) {

  .page-container {
    max-width: 720px;
  }

  .section-heading {
    font-size: 36px;
  }

  .promo-content {
    margin-top: 90px;
  }

  .features-btn {
    right: -20px;
    padding: 40px 50px;
  }

  .features-info {
    padding-inline: 40px;
  }

  .offer-section form {
    position: relative;
    max-width: 530px;
    margin-inline: auto;
  }

  .email-input {
    margin-bottom: 0;
  }

  .form-btn {
    position: absolute;
    top: 2px;
    right: 2px;
    bottom: 2px;
  }

  .footer-logo-area .site-logo {
    margin: 0;
  }

  .footer-logo-area,
  .footer-quick-area,
  .footer-bottom .page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .quick-links {
    margin-bottom: 0;
  }

  .copyright-text {
    margin-bottom: 0;
  }

  .footer-img {
    margin-inline: 0;
  }

  .details-sub {
    font-size: 26px;
  }

  .details-title {
    font-size: 50px;
  }

}





/**
 * 992px and above
 */

@media (min-width: 992px) {

  .page-container {
    max-width: 960px;
  }

  .promo-section {
    background-position: right;
  }

  .promo-section .page-container {
    width: 950px;
  }

  .promo-content {
    margin-top: 100px;
    max-width: 600px;
  }

  .new-releases .section-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .new-releases .section-desc,
  .new-releases .section-heading {
    text-align: left;
  }

  .new-releases .section-heading {
    margin-bottom: 0;
  }

  .features-section .page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 70px;
  }

  .features-info {
    padding-inline: 0;
    width: calc(100% - 470px);
  }

  .features-image {
    margin-bottom: 0;
  }

  .features-btn {
    right: 111px;
  }

  .offer-section {
    text-align: left;
  }

  .offer-section .page-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .offer-header {
    margin-bottom: 0;
    width: 100%;
  }

  .offer-section form {
    margin-inline: 0;
    max-width: unset;
    width: 100%;
  }

  .details-page {
    padding-bottom: 200px;
  }

  .details-page .page-container {
    position: relative;
    display: flex;
    align-items: center;
    gap: 50px;
  }

  .details-image,
  .details-actions {
    margin: 0;
  }

  .download-action {
    position: absolute;
    left: 15px;
    bottom: -80px;
  }

}





/**
 * 1200px and above
 */

@media (min-width: 1200px) {

  .page-container {
    max-width: 1320px;
  }

  .main-heading {
    font-size: 60px;
  }

  .promo-sub {
    font-size: 26px;
  }

  .promo-section .page-container {
    width: 1320px;
  }

  .features-info {
    width: calc(100% - 700px);
  }

  .features-btn {
    right: -20px;
  }

  .features-list,
  .features-heading {
    max-width: 480px;
  }

  .offer-section .page-container {
    max-width: 1150px;
  }

  .details-page {
    padding-bottom: var(--section-space);
  }

  .details-content {
    max-width: 620px;
  }

  .details-title {
    font-size: 60px;
  }

  .download-action {
    left: auto;
    right: 15px;
    bottom: 0;
    transform: rotate(0.25turn) translateY(100%);
    transform-origin: bottom right;
    padding: 40px 50px;
  }

  .download-action ion-icon {
    font-size: 30px;
    transform: rotate(-0.25turn);
  }

}